@echo off

:: RENAME THIS FILE runtf.bat and make sure it's executable! Don't check it into Git (it's in .gitignore)

:: Tip: from Powershell run as: cmd.exe /c '.\runtf.bat'

@REM set HTTP_PROXY=http://proxyServerHost:proxyPort 
@REM set HTTPS_PROXY=http://proxyServerHost:proxyPort 

:: Account id for creating the terraform resources
set "NEW_RELIC_ACCOUNT_ID=0"
:: A User API Key for creating the terraform resources. This may or may not be different from the TF_VAR_showback_query_user_api_key
set "NEW_RELIC_API_KEY=NRAK-xxx"
:: Your New Relic region ["US" | "EU"]
set "TF_VAR_new_relic_region=US"
:: Query account
set "TF_VAR_showback_query_account_id=0"
:: A User API Key. This user must have a user type of Full or Core and be a member of a group with Organization and Authentication Administration settings enabled (https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts#admin-settings)
set "TF_VAR_showback_query_user_api_key=NRAK-xxx"
:: The account id for the reporting account
set "TF_VAR_showback_insert_account_id=0"
:: An Ingest API key for the reporting account 
set "TF_VAR_showback_insert_license_api_key=xxxNRAL"

:: The name of the showback reporting script on the reporting account
set "TF_VAR_monitor_name=NR Showback reporting script"
:: The name of the showback dashboard on the reporting account
set "TF_VAR_dashboard_name=NR Showback reporting"

terraform %~1 %~2 %~3