#!/bin/bash

## RENAME THIS FILE runtf.sh and make sure it's executable! Don't check it into Git (it's in .gitignore)

# export http_proxy='http://proxyServerHost:proxyPort'
# export https_proxy='https://proxyServerHost:proxyPort'

export NEW_RELIC_ACCOUNT_ID="0"  # Account id for creating the terraform resources
export NEW_RELIC_API_KEY="NRAK-xxx"  # A User API Key for creating the terraform resources. This may or may not be different from the TF_VAR_showback_query_user_api_key
export TF_VAR_new_relic_region="US"  # Your New Relic region ["US" | "EU"]
export TF_VAR_showback_query_account_id="0"  # Query account 
export TF_VAR_showback_query_user_api_key="NRAK-xxx"  # A User API Key. This user must have a user type of Full or Core and be a member of a group with Organization and Authentication Administration settings enabled (https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/user-management-concepts#admin-settings)
export TF_VAR_showback_insert_account_id="0"  # The account id for the reporting account
export TF_VAR_showback_insert_license_api_key="xxxNRAL"  # An Ingest API key for the reporting account 

export TF_VAR_monitor_name="NR Showback reporting script"  # The name of the showback reporting script on the reporting account
export TF_VAR_dashboard_name="NR Showback reporting"  # The name of the showback dashboard on the reporting account
export TF_VAR_event_name_prefix="Showback"  # The prefix used in nr-showback metric names, defaults to "Showback", resulting in events of the form "Showback_UniqueUsers" for example. It is recommended that this value is modified during testing, e.g. to TestShowback, and reverted for production use
export TF_VAR_metric_name_prefix="showback"  # The prefix used in nr-showback metric names, defaults to "showback", resulting in metrics of the form "showback.department.fulluser.count" for example. It is recommended that this value is modified during testing, e.g. to test.showback, and reverted for production use

bash -c "terraform $1 $2"
